.hiwords {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}

.text-wrapper {
    font-family: $body-font-family;
    font-size: $body-font-size;
    text-align: center;
}

.navigation {
    @include medium;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: $color-navi-bg;
    border-radius: 6px;
    color: #ffffff;
    font-family: $body-font-family;
    font-size: $body-font-size;
    pre {
        @extend .navigation;
    }
}

.tags-list-header {
    background-color: $color-navi-tags-bg;
}

.navigation-menu-tags {
    a {
        text-decoration: none;
        color: $color-navi-tags;
        &:visited{
            color: $color-navi-tags;
        }
        &:hover{
            border-bottom: 2px dashed;
        }
    }
}

.page-link {
    a {
        text-decoration: none;
        color: $color-navi-pages;
        &:visited{
            color: $color-navi-pages;
        }
        &:hover{
            border-bottom: 2px dashed;
        }
    }

    .link-active {
        border-bottom: 2px dashed;
    }
}

.newsletter {
    margin-top: 3px;
}

