pre {
    margin-top: 2.3px !important;
}

.hiwords {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    // border: 1px solid grey;
}

.text-wrapper {
    text-align: center;
}

.navigation {
    @include bolder;
    margin: 0;
    background-color: $color-navi-bg;
    border-radius: 6px;
    color: #ffffff;
    line-height: $line-height/3;
}

.menu {
    a {
        color: inherit;
        &:visited {
            color: inherit;
        }
        &:hover {
            background-color: $color-hover;
        }
    }
    // border: 1px solid grey;
}

.tags-list-header {
    background-color: $color-navi-tags-bg;
}

.navigation-menu-tags {
    margin-top: 1.3rem;
    a {
        text-decoration: none;
        &, &:visited {
            color: $color-navi-tags;
        }
        &:hover, &:active{
            border-bottom: 2px dotted;
            background-color: transparent;
        }
    }
}

.navigation-menu-links {
    margin-bottom: 1.3rem;
    .page-link {
        margin: 0 auto;
        a {
            text-decoration: none;
            color: $color-navi-pages;
            &:visited{
                color: $color-navi-pages;
            }
            &:hover{
                border-bottom: 2px dotted;
                background-color: transparent;
            }
        }
        
        .link-active {
            border-bottom: 2px dotted;
        }
    }
}

.newsletter {
    margin-top: 1rem;
    // border: 1px solid grey;
}

