

.post-preview {
    &:hover{
        background-color: $color-hover;
    }
    display: flex;
    flex-direction: column;
    // border: 1px solid steelblue;
    .post-preview-header-wrapper {
        display: flex;
        flex-direction: row;
        // border: 1px solid red;
        justify-content: space-between;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        margin-top: 1.5rem;
        
        .post-preview-header {
            // border: 1px solid black;
            font-family: $postlist-heading-font-family;
            font-weight: 900;
            font-size: $postlist-heading-font-size;
            letter-spacing: $postlist-heading-font-letter-spacing;
            color: $color-body-heading;
            line-height: $postlist-heading-line-height;
            margin: $postlist-header-margin;
            small {
                font-size: #{$postlist-heading-font-size/2};
                font-weight: 400;
            }
        }

        .post-preview-tags {
            font: $tag-font;
            font-style: italic;
            margin-left: auto;
            // border: 1px solid black;
            p {
                margin: 0.6rem auto 0 auto;
            }
            //TO:DO refactor
            &[data-tag="Python"] {
                p {
                    color: $python;
                    background: $python-bg;
                }
            }
            &[data-tag="Blog"] {
                p{
                    color: $blog;
                    background: $blog-bg;
                }
            }
            &[data-tag="Design"] {
                p {
                    color: $design;
                    background: $design-bg;
                }
            }
            &[data-tag="JavaScript"] {
                p {
                    color: $javascript;
                    background: $javascript-bg;
                }
            }
        }
    }
    
    .post-preview-subtitle {
        
        // border: 1px solid black;
        font-family: $body-font-family;
        font-size: $body-font-size;
        line-height: $body-font-line-height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.3rem 0.4rem 0 0.4rem;

    }

    .divider {
        border-bottom: 2px dotted #888;
        margin-top: 1.5rem;
    }

}

