.blog-post-container {
    .content {
        margin-left: 0;
        min-width: 670px;
    }
}

.blog-post {
    a {
        color: inherit;
        &:visited {
            color: inherit;
        }
        &:hover {
            background-color: $color-hover;
        }
    }
}