/**
 * mokaidia theme for PrismJS
 * based on okaidia theme for JavaScript, CSS and HTML by @ocodia
 * which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author Simon Bliznyuk
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.315);
	font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.7rem;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.2em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2B2B2B;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 2px 4px;
	border-radius: .2em;
	white-space: normal;
	background: rgb(236, 235, 231);
	color: #2B2B2B;
	font-size: 0.9rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: rgb(114, 162, 209);
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #EF476F;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #9BE564;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #FFD166;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.gatsby-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.315);
	display: block;
	margin-right: -1em;
	margin-left: -1em;
	padding-right: 1em;
	padding-left: 0.75em;
	border-left: 0.25em solid #ffee00;
  }