/*************************************/
/*             Variables             */
/*************************************/

    /* Breakpoints */

    $mobile: 900px;
    $mobile-margin: 600px;
    $mobile-small: 450px;
    $mobile-textsize: 200px;

/* Root variables */

    // root-sizes:

    $base-font-size: 20px;
    $line-height: 2;
    $scale-ratio: 2;
    $paragraph-spacing: 1.35;

    // headers-font:

    $headers-font-type: 'Raleway', sans-serif;
    $headers-font-weight: 900;
    $headers-font-gray-value: 0.33;

    // body-font:

    // $body-font-type: 'Roboto Slab', serif;
    $body-font-type: 'Open Sans', sans-serif;
    $body-font-weight: 400;
    $body-font-bold-weight: 700;
    $body-font-gray-value: 0.2;


