/*************************************/
/*             Variables             */
/*************************************/

    /* Breakpoints */

    // $mobile: 900px;
    $mobile: 780px;
    $mobile-margin: 600px;
    $mobile-small: 450px;
    $mobile-xsmall: 350px;
    $mobile-textsize: 200px;

/* Root variables */

    // root-sizes:

    $base-font-size: 18px;
    $line-height: 2;
    $scale-ratio: 2;
    $paragraph-spacing: 1.35;

    // headers-font:

    $headers-font-type: 'Raleway', sans-serif;
    $headers-font-weight: 900;
    $headers-font-gray-value: 0.33;

    // body-font:

    $body-font-type: 'Open Sans', sans-serif;
    $body-font-weight: 400;
    $body-font-bold-weight: 700;
    $body-font-gray-value: 0.2;

/* Posts */

    $h1: 3.5rem;
    $h2: 2rem;
    $h3: 1.5rem;
    $h4: 1.4rem;
    $h5: 1.3rem;
