/* Breakpoints */

$mobile: 900px;
$mobile-margin: 600px;
$mobile-small: 450px;
$mobile-textsize: 200px;

/* Colors */

$color-body-heading: #424242;
$color-background: #ffffff;
$color-navi-tags: #ffd700;
$color-navi-pages: #00e0e0;
$color-navi-bg: #2B2B2B;
$color-navi-tags-bg: #ff5b6c;
$color-body-text: #010400;
$color-body-text-link: $color-body-text;
$color-body-text-link-hover: darken($color-body-text-link, 10%);
$color-breakline: #707070;
$color-tag-database: #01a252;
$color-tag-js: #1b1b1b;
$color-tag-react: #00f6ff;
$color-tag-python: #0025e0;
$color-hover: rgb(252, 255, 167);
$header-background: transparent linear-gradient(107deg, #01A0E4 0%, #0066CC 100%) 0% 0% no-repeat padding-box;

// tags colors

$python: rgb(255, 251, 41);
$python-bg: rgb(71, 71, 211);
$design: rgb(255, 255, 255);
$design-bg: transparent linear-gradient(107deg, #01A0E4 0%, #0066CC 100%) 0% 0% no-repeat padding-box;
$react: #00E0E0;
$react-bg: rgb(0, 0, 0);
$blog: #9c002f;
$blog-bg: rgb(255, 239, 239);
$javascript: rgb(245, 245, 0);
$javascript-bg: #121212;

/* Margins */

$postlist-header-margin: 0 0 0 0px;

/* Typography */

// index

$body-font-size: 1rem;
$body-font-line-height: 1.68rem;
$body-font-family: 'Roboto Mono', monospace;

$postlist-heading-font-size: 1.7rem;
$postlist-heading-line-height: 2.1rem;
$postlist-heading-font-family: 'Raleway', sans-serif;
$postlist-heading-font-variant: 'Black';
$postlist-heading-font-letter-spacing: 0.2px;

$readtime-font-size: 0.68rem;
$readtime-font-line-height: 1.56rem;
$readtime-font-variant: 'Light';

$tag-font: Bold 0.81rem/1.1rem Roboto Mono;

// index-mobile

$body-mobile-font-size: 0.6rem;
$postlist-heading-mobile-font-size: 0.9rem;

$body-font-mobile-line-height: 0.8rem;
$postlist-heading-mobile-line-height: 1rem;

// posts

$h1: 3rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.4rem;
$h5: 1.3rem;





$postpage-heading-font-size: 64px/75px;

// Main page body font

// Post body font

